{% extends "base.html" %}



{% block content %}
  <!-- Add scripts that need to run before here -->
  {{ super() }}

  <style>

    .timeline {
      margin: 0 auto;
      padding: 0 1rem;
    }
    
    .step-date {
      font-size: 1em;
      line-height: 1.75rem;
      border-top: 3px solid;
      border-image: linear-gradient(to right, var(--primary) 0%, var(--secondary) 100%);
      border-image-slice: 1;
      border-width: 3px;
      margin: 0;
      padding: 2.2rem;
      position: relative;
      color: var(--md-typset);
      
    
      &:before {
        content: attr(date);
        position: absolute;
        border-radius: 12%;
        padding: .8rem .6rem;
        background-color: var(--primary-dark);
        text-align: center;
        line-height: .7rem;
        color: var(--grayscale-gray-00-white);
        font-size: 1rem;
      }
    }
    
    .step-date:nth-child(odd) {
      border-right: 3px solid;
      padding-left: 0;
      
      &:before {
        left: 100%; 
        margin-left: -1rem;
      }
    }
    
    .step-date:nth-child(even) {
      border-left: 3px solid;
      padding-right: 0;
      
      &:before {
        right: 100%; 
        margin-right: -1rem;
      }
    }
    
    .step-date:first-child {
      border-top: 0;
      border-top-right-radius:0;
      border-top-left-radius:0;
    }
    .step-date:last-child {
      border-bottom-right-radius:0;
      border-bottom-left-radius:0;
    }
    
    </style>
  
  <div class="timeline">
    <div date="2023" class="step-date"> Courses:
        <ul>
            <li><strong>Data-Driven Design: Quantitative Research for UX</strong>, Issued by Interaction Design Foundation - <a href="https://www.interaction-design.org/members/anelia-stoyanova/certificate/course/abfdc52b-c50c-4b84-9513-c7fe11c96109?certificateType=course" target="_blank" rel="noopener noreferrer">Certificate</a></li>
            <li><strong>Journey Mapping</strong>, Issued by Interaction Design Foundation - <a href="https://www.interaction-design.org/members/anelia-stoyanova/certificate/course/95d52801-9a55-4812-9313-b6bb3d73a3d3?certificateType=course" target="_blank" rel="noopener noreferrer">Certificate</a></li>
            <li><strong>Get Your Product Used: Adoption and Appropriation</strong>, Issued by Interaction Design Foundation - <a href="https://www.interaction-design.org/members/anelia-stoyanova/certificate/course/88ba0804-6d9a-40ea-9cad-7f17984fa490" target="_blank" rel="noopener noreferrer">Certificate</a></li>
        </ul>
    </div>
    <div date="2022" class="step-date">Joined <a href="http://intermodaltelematics.com" target="_blank" rel="noopener noreferrer">Intermodal Telematics</a> as a Senior Product Designer
      <ul>
        <li>Design System Migration from Sketch to Figma</li>
        <li>Complete Platform Design Migration</li>
      </ul>
    </div>
    <div date="2019" class="step-date">Joined <a href="http://system73.com" target="_blank" rel="noopener noreferrer">System73</a> as a Product Designer for an Online Video Platform
    <p>Skills</p>
    <ul>
        <li>Agile framework</li>
        <li>Adobe Xd</li>
        <li>(Material for) Mkdocs</li>
        <li>Design Systems</li>
        <li>Remote work</li>
    </ul>
    <p>Courses:</p>
        <ul>
            <li><strong>Understanding User Needs</strong>, Issued by University of Michigan on Coursera - <a href="https://www.coursera.org/account/accomplishments/verify/GNYUJZHVENWZ" target="_blank" rel="noopener noreferrer">Certificate</a></li>
            <li><strong>Introduction to User Experience Principles and Processes</strong>, Issued by University of Michigan on Coursera - <a href="https://www.coursera.org/account/accomplishments/verify/5CFRG3595KGP" target="_blank" rel="noopener noreferrer">Certificate</a></li>
            <li><strong>Business Writing</strong> - Issued by University of Colorado, Boulder on Coursera - <a href="https://www.coursera.org/account/accomplishments/verify/69PGCF7KMWV5" target="_blank" rel="noopener noreferrer">Certificate</a></li>
        </ul>
    </div>
    <div date="2018" class="step-date"> Acquired DELE (Diploma de Español como Lengua Extranjera - Certificate of Spanish as a Foreign Language) C1 by Insituto Cervantes 
    </div>
    <div date="2017" class="step-date">Joined <a href="http://pecas.com" target="_blank" rel="noopener noreferrer">PECA'S Tenerife</a> as a Content Designer for their newly added online shop.
    </div>
    <div date="2016" class="step-date">Joined a startup, called System73 as a Content Designer, and there it was my first laid-off after 4 months, because of shutting down the project I was hired for.
    </div>
    <div date="2013" class="step-date">Became a mother</div>
    <div date="2012" class="step-date">
        <ul>
            <li> Graduated <strong>Master's Degree</strong> in <a href="http://ull.es" target="_blank" rel="noopener noreferrer">University of La Laguna</a>, Spain. <br/> Innovation in Design for the Touristic Sector with Specialization in User Interfaces and Digital Experience</li>
            <li>Learned SASS, Wordpress, HTML5, and Responsive Web Design Principles while working on  the Tenerife Local Project at ITER S.A.</li>
        </ul>
    </div>
    <div date="2011" class="step-date">Acquired First Certificate of English, Cambridge ESOL
    </div>
    <div date="2010" class="step-date">First Job Promotion as a full time Generalist Designer employee at ITER S.A.
    </div>
    <div date="2009" class="step-date">
        <ul>
            <li>Generalist Designer <strong>Internship in <a href="http://iter.es" target="_blank" rel="noopener noreferrer">ITER S.A.</a></strong></li>
            <li>Espacio Acustico Virtual, University of La Laguna - Hearing aid hat - Design Prototype</li>
        </ul>
    </div>
    <div date="2008" class="step-date">
        <ul>
            <li>Graduated Industrial Design <strong>Bachelor's Degree</strong></li>
            <li>LLP Erasmus Intensive Program "Ecology and Safety as a Driving Force in the development of Vehicles", Polytechnic University of Radom, Poland</li>
        </ul>  
    </div>
    <div date="2007" class="step-date">Erasmus Exchange Programme - <a href="https://lnu.se/" target="_blank" rel="noopener noreferrer">Linnaeus University</a>, Former Växjö University in Växjö, Sweden 
    </div>
    <div date="2004" class="step-date"><strong>Start</strong> of Industrial Design <strong>Bachelor's Degree</strong> in <a href="https://www.uni-ruse.bg/en" target="_blank" rel="noopener noreferrer">University of Ruse "Angel Kanchev"</a>, Ruse, Bulgaria
    </div>
  </div>


{% endblock %}