<!-- Elements added to "home.html" will only be displayed on the home page -->

{% extends "main.html" %}
{% block content %}
{% endblock %}
{% block tabs %}
{{ super() }}

<style>
/*HOME PAGE*/
body {
    background-image: url(img/BW-lines.png);
    background-repeat: no-repeat;
    background-position: top center;
}

.md-main{
  height: 1px;
}

.md-social {
  margin: 0;
  font-size: 0.7rem;
}

.md-social a {
  color: var(--primary-dark);
}

.md-footer__inner {
  display: none !important;
}
</style>

<!-- Main site entry button descriptions -->
<section class="tx-container">
    <div class="md-grid md-typeset">
      <div class="tx-hero">

        <div class="tx-hero__image">
	        <!--<img src="{{ config.extra.home_cover_image }}" draggable="false"> -->
        </div>
	
        <div class="tx-hero__content">
          <h1>{{ config.extra.home_tagline }}</h1>
          <p>{{ config.extra.home_description }}</p>
	  
        {%- if config.extra.home_button1_name -%}
          <p><a href="mailto:anelia.em.stoyanova@gmail.com" title="Let's talk" class="{{ config.extra.home_button1_theme }}" target="_blank">
            {{ config.extra.home_button1_name }}</a>
          </p>

          <p class="md-social">
            <!-- render social media links with icons from config.extra-->
            {% for item in config.extra.social %}
            <a href="{{ item.link }}" title="{{ item.icon.split('/')[-1] }}" class="md-social__link" target="_blank">
              <span class="twemoji">{% include ".icons/" + item.icon + ".svg" %}</span> 
            </a>
            {% endfor %}
          </p>
	    {%- endif -%}
        </div>
      </div>
    </div>
    <img src="assets/img/stars.svg" class="md-grid stars" alt="stars"/>
</section>


{% import 'macros.html' as macros %}

<div class="full-width-home-section">
  <h2 class="home-section-title">Experience Highlights</h2>
  <div class="companysList md-grid">
      {% for list in config.extra.companies %}
      <ul class="companiesListUl">
          {% for item in list %}
          <li class="itemLogo">
              {{ macros.svg_icon( item ) }}
          </li>
          {% endfor %}
      </ul>
      {% endfor %}    
  </div>
</div>

<section class="bento md-grid">
  <div class="bentobox">
      
      <article class="cell salut tertiary-border">
          <div class="cell-inner tertiary-bg">     
              <h2 class="speach-bubble">Hello</h2>
              <div id="img-box">
                  <img src="assets/img/myphoto.webp" alt="anelia-photo">
              </div>
          </div>
      </article>
      
      <article class="cell digital-design graphic-background-border">
          <div class="cell-inner primary-color graphic-background-bg">  
            <h2>Digital Design for Modern Software</h2>   
            <div class="dig-des-grid">  
              <div>
                <p>Through the strategic use of graphic elements, typography, colours, and user experience principles, we will enhance the emotion for any person that visits your website/Saas application.</p>
                <p><a href="work/" class="md-typeset md-button--secondary">View Work</a></p>
                
              </div>
              <img src="assets/img/a-bento.svg" alt="logo-vcon">
            </div>
              
          </div> 
      </article>
      
      <article class="cell workethic">
          <div class="cell-inner primary-color">     
              <h2>You can count on</h2>
              <ul>
                  <li>Integrity</li>
                  <li>Adaptability</li>
                  <li>Respect</li>
                  <li>Communication</li>
                  <li>Coninuous improvement</li>
                  <li>Teamwork</li>
                  <li>Reliability</li>
                  <li>Punctuality</li>
                  <li>Diligence</li>
                  <li>Time Management</li>
                  <li>Initiative</li>
              </ul>
          </div>
      </article>
      
      <article class="cell ai">
           <div class="cell-inner primary-color">   
              <div class="ai-brain">
                  <img src="assets/img/AI-brain.svg" alt="AI">
              </div>
              <div>
                  <h2>Artificial Intelligence</h2>
                  <p>One thing that AI may never capture is emotion and what people feel when they engage with your software to address  their issues. Otherwise, it helps a lot with:</p>
                  <ul>
                      <li>Brainstorming</li>
                      <li>Automation of Repetitive Tasks</li>
                      <li>Content Recommendations</li>
                      <li>Scalability & Monitoring</li>
                  </ul>
              </div>
          </div>
      </article>
      
      <article class="cell blog secondary-border">
          <div class="cell-inner secondary-bg"> 
              <h2><a href="blog/">Blog</a></h2>
              <svg width="126" height="77" viewBox="0 0 126 77" xmlns="http://www.w3.org/2000/svg">
                  <path d="M0 0H16V16H0V0Z"/><path d="M0 31H16V47H0V31Z"/><path d="M16 0H31V16H16V0Z"/> <path d="M16 31H31V47H16V31Z"/><path d="M31 0H47V16H31V0Z"/><path d="M31 16H47V31H31V16Z"/><path d="M31 47H47V62H31V47Z"/><path d="M0 47H16V62H0V47Z"/><path d="M0 62H16V77H0V62Z"/><path d="M47 16H62V31H47V16Z"/><path d="M47 31H62V47H47V31Z"/><path d="M62 0H78V16H62V0Z"/><path d="M78 0H94V16H78V0Z"/><path d="M62 16H78V31H62V16Z"/><path d="M78 31H94V47H78V31Z"/><path d="M94 16H110V31H94V16Z"/><path d="M94 0H110V16H94V0Z"/><path d="M110 0H126V16H110V0Z"/>
              </svg>
          </div>
      </article>

  </div>
</section>
<!-- The toolbox place -->

<div class="full-width-home-section">
  <h2 class="home-section-title">My toolbox</h2>
  <div class="toolsList md-grid">
      {% for list in config.extra.toolbox %}
      <ul class="toolsListUl">
          {% for item in list %}
          <li class="itemLogo">
              {{ macros.svg_icon( item ) }}
          </li>
          {% endfor %}
      </ul>
      {% endfor %}    
  </div>
</div>

<section class="bottom-contact md-grid">
  <div class="contact-grid">
    <div class="message-contact-grid">
      <h2>Let's talk</h2>
      <p>Do not hesitate to write a message, I’ll get back to you as fast as possible. </p>
      <p>You can use either <strong>English</strong>, <strong>Spanish</strong>, or <strong>Bulgarian</strong></p>
    </div>
    <div class="link-contact-grid">
      <a href="mailto:anelia.em.stoyanova@gmail.com" target="_blank">anelia.em.stoyanova@gmail.com</a>
    </div>

  </div>
</section>

{% endblock %} 

<!-- Toggleable JavaScript execution -->
{%- if config.home_execute_js -%}
<script>
document$.subscribe(function() {
  console.log("'home_execute_js' is enabled:");
  {{ config.home_execute_js }}
}).unsubscribe();
</script>
{%- endif -%}

<!-- Application footer -->
{% block footer %}
{% include "partials/footer.html" %}
{% endblock %}