@keyframes heart {
  0%,
  40%,
  80%,
  100% {
    transform: scale(1);
  }
  20%,
  60% {
    transform: scale(1.15);
  }
}
@keyframes bounce {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
}

.hover-icon:hover {
  transform: scale(1.25);
}
.hover-icon-bounce:hover {
  animation: bounce 1s infinite;
}
.bounce {
  animation: bounce 1s infinite;
}
.heart {
  animation: heart 1s infinite;
}

.md-header__button.md-icon[data-md-component="source"] {
        display: none;
    }

img {
  height: auto; 
  width: auto;
  border-radius: 15px;
}


[data-md-color-scheme="default"] {

  --md-primary-fg-color:                 #446594;  
  --md-accent-fg-color:                #dbdbdb;
  --md-accent-bg-color:                #446594;
  --md-code-bg-color:                  #ffffff;;
  --md-code-hl-color:                  #f7f7f7;;
  
}